<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1>
        <%=playerOne.name%> & <%=playerTwo.name%> Welcome to Rock Paper Scissors
    </h1>
    <form action="/turn" method="post">
        <input id="start-button" type="submit" value="start">
    </form>
</body>

</html>