<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPS</title>
</head>

<body>
    <h1>WELCOME TO ROCK, PAPER, SCISSORS!</h1>
    <P>Who's playing?</P>
    <form action="/game" method="post">
        <p>Player 1: <input id="player1-name-textbox" type="text" name="player1"></p>
        <p>Player 2: <input id="player2-name-textbox" type="text" name="player2"></p>

        <input id="names-submit" type="submit" value="Let's Play!">
    </form>
</body>

</html>