<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1>RESULT <%=result%>
    </h1>

    <form action="/" method="get">
        <input id="start-button" type="submit" value="Play again?">
    </form>

</body>

</html>